<%- include('./includes/head.ejs') %>
<%- include('./includes/header.ejs') %>
<div class="card border-primary mb-3 float-end " style="max-width: 20rem;">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="Email" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                <label for="Password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
              <button type="button" class="btn btn-outline-primary mt-4">Submit</button>
            </div>
          </fieldset>
              </form>
    </div> 
    </div>
      <main>
          <div class="container">
              <h1> Home </h1>
              <p>The begining</p>
          </div>
      </main>
      
<%- include('./includes/footer.ejs') %>