<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>

      <main>
          <div class="container">
              <h1><%= title %></h1>
              <p>The begining</p>
          </div>
      </main>
      
<%- include('../includes/footer.ejs') %>