<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<div class="d-flex p-4 justify-content-center">
  <div class="card border-primary m-5 center" style="min-width: 25rem; max-width: 40rem;">
    <div class="card-header">
      <h1>Home</h1>
    </div>
    <div class="card-body">
      <p class=" display-6">Welcome to our group project.</p>
      <p class=" display-6">CSE341 Spring</p>
      <p class=" display-6">Brother Shawn Porter</p>
      <p class=" display-6">Chad, Sam, Ruben, & Alain</p>
      <p class=" display-6"><a class="link-danger" href="https://github.com/Rodeeo/CSE341-TEAM-1.git">Github Repo</a>
      </p>
      <p class=" display-6"><a class="link-warning" href="https://tiempo-team1.herokuapp.com/">Heroku</a></p>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>