<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>
  <main>
  <div class="container mt-5">
    <div class="card border-primary m-5 center" style="max-width: 40rem;">
      <div class="card-header">
        <h5>About</h5>
      </div>
      <div class="card-body" style="font-size: 2rem;">
          <p>Thanks for viewing our team project.</p>
          <p>CSE341 Spring</p>
          <p>Brother Shawn Porter</p>
          <p>Chad, Sam, Ruben, & Alain</p>
      </div>
    </div>
    </main>

    <%- include('../includes/footer.ejs') %>