<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>
  <main>
  <div class="container mt-5">
    <div class="card border-primary m-5 center" style="max-width: 40rem;">
      <div class="card-header">
        <h5>About</h5>
      </div>
      <div class="card-body" style="font-size: 2rem;">
          <p>Thanks for viewing our team project.</p>
          <p>CSE341 Spring</p>
          <p>Brother Shawn Porter</p>
          <p>Chad, Sam, Ruben, & Alain</p>
          <p><a class="link-danger" href="https://github.com/Rodeeo/CSE341-TEAM-1.git">Github Repo</a></p>
          <p><a class="link-warning" href="https://tiempo-team1.herokuapp.com/">Heroku</a></p>
          <div class="tenor-gif-embed" data-postid="3839710" data-share-method="host" data-width="100%" data-aspect-ratio="1.4240506329113924"><a href="https://tenor.com/view/star-trek-hi-hello-sex-gif-3839710">Star Trek GIF</a> from <a href="https://tenor.com/search/startrek-gifs">Startrek GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      </div>
    </div>
    </main>

    <%- include('../includes/footer.ejs') %>